Pre-requisite

1. Install Java from https://www.java.com/download/ie_manual.jsp
2. Install Python

Import libraries

In [ ]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import (
    col,
    trim,
    lower,
    from_json,
    from_unixtime,
    date_format,
    to_utc_timestamp,
    regexp_replace,
    split,
    trim,
    sha2,
    count,
    when,
)
from pyspark.sql.types import (
    StructType,
    StringType,
    MapType,
    DateType,
    FloatType,
    IntegerType,
    DoubleType,
)

Initialize Spark session

In [2]:
spark = SparkSession.builder.appName("ETL").getOrCreate()

In [3]:
spark

Create Dataset class for running operations on Spark Dataframe

In [50]:
class Dataset:
    """
    A class to represent and manipulate a PySpark DataFrame.

    Attributes:
        df (pyspark.sql.DataFrame): The PySpark DataFrame.
        df_count (int): The number of rows in the DataFrame.
    """

    def __init__(self, df: pyspark.sql.DataFrame):
        self.df = df
        self.df_count = self.df.count()

    def show(self, num=20, truncate=False):
        self.df.show(n=num, truncate=truncate)

    def show_df_info(self):
        print("Number of rows:", self.df_count)
        print("Number of columns:", len(self.df.columns))
        print("Column names:", self.df.columns)

    def show_schema(self):
        self.df.printSchema()

    def select_columns(self, column_name: list, number_row=20, truncate=False):
        self.df.select(*column_name).show(n=number_row, truncate=truncate)

    def filter_column_by_value(self, column_name, column_value):
        return self.df.filter(self.df.repr(column_name) == column_value)

    def check_null_count_in_column(self, column_name):
        return self.df.filter(
            (lower(trim(col(column_name))) == "null")
            | (trim(col(column_name)) == "")
            | (col(column_name).isNull())
        ).count()

    def duplicate_rows(self, replace=False):
        if replace:
            self.df = self.df.dropDuplicates()  # df with duplicates removed
        else:
            df_duplicates = self.df.dropDuplicates()

        num_duplicates = self.df_count - df_duplicates.count()
        print(f"Number of duplicate rows: {num_duplicates}")

    def get_unique_values_in_column(self, column_name: str):
        return self.df.select(column_name).distinct().count()

    def get_column_values_count(
        self,
        column_name: str,
        num_show: int = 20,
        show_all: bool = False,
        sort: bool = True,
    ):
        if show_all:
            num = self.df_count
        else:
            num = num_show

        ascending = False if sort else True
        return (
            self.df.groupBy(column_name)
            .count()
            .orderBy("count", ascending=ascending)
            .show(num, truncate=False)
        )

    def parse_json_column(self, column_name, schema, rename: str = None):
        """
        Parses a JSON into individual fields based on the provided schema.

        Args:
            column_name (str): The column name containing JSON data.
            schema (StructType): The schema defining the structure of the JSON data.

        """
        if rename:
            column_name = rename
        else:
            column_name = column_name

        self.df = self.df.withColumn(column_name, from_json(col(column_name), schema))

    def extract_json_fields(self, column_mapping: dict):
        """
        Extract fields from a JSON column into separate columns.

        Args:
            column_mapping (dict): A dictionary where keys are JSON paths (e.g., "json_col.field") and values are new column names.
        """
        self.df = self.df.select(
            *self.df.columns,  # include all original columns
            *[
                col(key).alias(new_col_name)  # create new column from key value pair
                for key, new_col_name in column_mapping.items()
            ],
        )

    def cast_column_type(self, column_types: dict):
        """
        Casts columns in a DataFrame to specified types.

        Args:
        column_types (dict): A dictionary where keys are column names and values are the desired Spark data types.

        """
        for col_name, col_type in column_types.items():
            self.df = self.df.withColumn(col_name, col(col_name).cast(col_type))

    def convert_timestamp_to_datetime(
        self,
        column_configs: dict,
        timezone: str = "UTC+8",
    ):
        """
        Transforms timestamp columns to a specific date format and timezone.

        Args:
        column_configs (dict): A dictionary where keys are column names and values are divisors
                            to convert timestamps (e.g., 1000000 for microseconds, 1000 for milliseconds).
        timezone (str): The target timezone for the conversion (default is 'UTC+8').

        """
        for column_name, convert_value in column_configs.items():
            self.df = self.df.withColumn(
                column_name,
                to_utc_timestamp(
                    from_unixtime(col(column_name).cast("double") / convert_value),
                    timezone,
                ),
            )

    def convert_date_format(
        self,
        column_names: list,
        timezone: str = "UTC+8",
        format="yyyy-MM-dd HH:mm:ss.SSSSSS Z",
    ):
        for column in column_names:
            self.df = self.df.withColumn(
                column, date_format(to_utc_timestamp(col(column), timezone), format)
            )

    def drop_column(self, columns: list):
        self.df = self.df.drop(*columns)

    def replace_regex_in_column(self, column_name, regex, replace):
        self.df = self.df.withColumn(
            column_name, regexp_replace(col(column_name), regex, replace)
        )

    def hash_column(self, columns: list):
        for column in columns:
            self.df = self.df.withColumn(column, sha2(column, 256))

    def show_columns_null_count(self):
        self.df.select(
            [
                count(
                    when(
                        col(c).isNull()
                        | (lower(trim(col(c))) == "null")  # check for string "null"
                        | (trim(col(c)) == ""),
                        c,
                    )  # check for blank
                ).alias(c)
                for c in self.df.columns
            ]
        ).show()

    def to_pandas(self):
        return self.df.toPandas()

Initialize file

In [5]:
data_file = "cc_sample_transaction.json"

In [6]:
df = spark.read.json(data_file)

## Data Transformation

Create transaction_data object with the dataframe

In [7]:
transaction_data = Dataset(df)

In [8]:
transaction_data.show_schema()

root
 |-- Unnamed: 0: string (nullable = true)
 |-- amt: string (nullable = true)
 |-- category: string (nullable = true)
 |-- cc_bic: string (nullable = true)
 |-- cc_num: string (nullable = true)
 |-- is_fraud: string (nullable = true)
 |-- merch_eff_time: string (nullable = true)
 |-- merch_last_update_time: string (nullable = true)
 |-- merch_lat: string (nullable = true)
 |-- merch_long: string (nullable = true)
 |-- merch_zipcode: string (nullable = true)
 |-- merchant: string (nullable = true)
 |-- personal_detail: string (nullable = true)
 |-- trans_date_trans_time: string (nullable = true)
 |-- trans_num: string (nullable = true)

Transform personal_detail column

Parse json in personal_detail column including nested json to create new column from json keys

In [9]:
personal_detail_schema = (
    StructType()
    .add("person_name", StringType())
    .add("gender", StringType())
    .add("address", StringType())
    .add("lat", StringType())
    .add("long", StringType())
    .add("city_pop", StringType())
    .add("job", StringType())
    .add("dob", DateType())
)

In [10]:
transaction_data.parse_json_column(
    column_name="personal_detail", schema=personal_detail_schema
)

Convert keys in personal_detail and personal_detail.address into individual columns

In [11]:
personal_detail_keys = {
    "personal_detail.person_name": "name",
    "personal_detail.gender": "gender",
    "personal_detail.address": "address",
    "personal_detail.lat": "lat",
    "personal_detail.long": "long",
    "personal_detail.city_pop": "city_pop",
    "personal_detail.job": "job",
    "personal_detail.dob": "dob",
}

In [12]:
transaction_data.extract_json_fields(column_mapping=personal_detail_keys)

In [13]:
address_schema = MapType(StringType(), StringType())
transaction_data.parse_json_column(column_name="address", schema=address_schema)

In [14]:
address_keys = {
    "address.street": "street",
    "address.city": "city",
    "address.state": "state",
    "address.zip": "zip",
}

In [15]:
transaction_data.extract_json_fields(column_mapping=address_keys)

In [16]:
transaction_data.show()

+----------+------+-------------+-----------+-------------------+--------+----------------+----------------------+------------------+------------------+-------------+----------------------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------+--------------------------------+-------------------------+------+---------------------------------------------------------------------------------------------------+-------+------------------+--------+---------------------------------------------+----------+------------------------------+------------------------+-----+-----+
|Unnamed: 0|amt   |category     |cc_bic     |cc_num             |is_fraud|merch_eff_time  |merch_last_update_time|merch_lat         |merch_long        |merch_zipcode|merchant                                |personal_detail                                                                                                                                                                           |trans_date_trans_time|trans_num                       |name                     |gender|address                                                                                            |lat    |long              |city_pop|job                                          |dob       |street                        |city                    |state|zip  |
+----------+------+-------------+-----------+-------------------+--------+----------------+----------------------+------------------+------------------+-------------+----------------------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------+--------------------------------+-------------------------+------+---------------------------------------------------------------------------------------------------+-------+------------------+--------+---------------------------------------------+----------+------------------------------+------------------------+-----+-----+
|0         |4.97  |misc_net     |CITIUS33CHI|2703186189652095   |0       |1325376018798532|1325376018666         |36.011293         |-82.048315        |28705        |fraud_Rippin, Kub and Mann              |{Jennifer,Banks,eeeee, F, {"street":"561 Perry Cove","city":"Moravian Falls","state":"NC","zip":"28654"}, 36.0788, -81.1781, 3495, Psychologist, counselling, 1988-03-09}                 |2019-01-01 00:00:18  |0b242abb623afc578575680df30655b9|Jennifer,Banks,eeeee     |F     |{street -> 561 Perry Cove, city -> Moravian Falls, state -> NC, zip -> 28654}                      |36.0788|-81.1781          |3495    |Psychologist, counselling                    |1988-03-09|561 Perry Cove                |Moravian Falls          |NC   |28654|
|1         |107.23|grocery_pos  |ADMDUS41   |630423337322       |0       |1325376044867960|132537604479          |49.159046999999994|-118.186462       |NULL         |fraud_Heller, Gutmann and Zieme         |{Stephanie,Gill,eeeee, F, {"street":"43039 Riley Greens Suite 393","city":"Orient","state":"WA","zip":"99160"}, 48.8878, -118.2105, 149, Special educational needs teacher, 1978-06-21}   |2019-01-01 00:00:44  |1f76529f8574734946361c461b024d99|Stephanie,Gill,eeeee     |F     |{street -> 43039 Riley Greens Suite 393, city -> Orient, state -> WA, zip -> 99160}                |48.8878|-118.2105         |149     |Special educational needs teacher            |1978-06-21|43039 Riley Greens Suite 393  |Orient                  |WA   |99160|
|2         |220.11|entertainment|Null       |38859492057661     |0       |1325376051506840|1325376051286         |43.150704         |-112.154481       |83236        |fraud_Lind-Buckridge                    |{Edward@Sanchez, M, {"street":"594 White Dale Suite 530","city":"Malad City","state":"ID","zip":"83252"}, 42.1808, -112.262, 4154, Nature conservation officer, 1962-01-19}               |2019-01-01 00:00:51  |a1a22d70485983eac12b5b88dad1cf95|Edward@Sanchez           |M     |{street -> 594 White Dale Suite 530, city -> Malad City, state -> ID, zip -> 83252}                |42.1808|-112.262          |4154    |Nature conservation officer                  |1962-01-19|594 White Dale Suite 530      |Malad City              |ID   |83252|
|3         |45.0  |gas_transport|DEUTUS33TRF|3534093764340240   |0       |1325376076794698|1325376076365         |47.034331         |-112.561071       |NULL         |fraud_Kutch, Hermiston and Farrell      |{Jeremy/White, !, M, {"street":"9443 Cynthia Court Apt. 038","city":"Boulder","state":"MT","zip":"59632"}, 46.2306, -112.1138, 1939, Patent attorney, 1967-01-12}                         |2019-01-01 00:01:16  |6b849c168bdad6f867558c3793159a81|Jeremy/White, !          |M     |{street -> 9443 Cynthia Court Apt. 038, city -> Boulder, state -> MT, zip -> 59632}                |46.2306|-112.1138         |1939    |Patent attorney                              |1967-01-12|9443 Cynthia Court Apt. 038   |Boulder                 |MT   |59632|
|4         |41.96 |misc_pos     |APBCUS61   |375534208663984    |0       |1325376186746376|132537618681          |38.674999         |-78.632459        |22844        |fraud_Keeling-Crist                     |{Tyler@Garcia, M, {"street":"408 Bradley Rest","city":"Doe Hill","state":"VA","zip":"24433"}, 38.4207, -79.4629, 99, Dance movement psychotherapist, 1986-03-28}                          |2019-01-01 00:03:06  |a41d7549acf90789359a9aa5346dcb46|Tyler@Garcia             |M     |{street -> 408 Bradley Rest, city -> Doe Hill, state -> VA, zip -> 24433}                          |38.4207|-79.4629          |99      |Dance movement psychotherapist               |1986-03-28|408 Bradley Rest              |Doe Hill                |VA   |24433|
|5         |94.63 |gas_transport|APBCUS61   |4767265376804500   |0       |1325376248271406|1325376248483         |40.653382         |-76.15266700000001|17972        |fraud_Stroman, Hudson and Erdman        |{Jennifer,Conner,eeeee, F, {"street":"4655 David Island","city":"Dublin","state":"PA","zip":"18917"}, 40.375, -75.2045, 2158, Transport planner, 1961-06-19}                              |2019-01-01 00:04:08  |189a841a0a8ba03058526bcfe566aab5|Jennifer,Conner,eeeee    |F     |{street -> 4655 David Island, city -> Dublin, state -> PA, zip -> 18917}                           |40.375 |-75.2045          |2158    |Transport planner                            |1961-06-19|4655 David Island             |Dublin                  |PA   |18917|
|6         |44.54 |grocery_net  |APBCUS61   |30074693890476     |0       |1325376282274130|1325376282247         |37.162704999999995|-100.15337        |NULL         |fraud_Rowe-Vandervort                   |{Kelsey, , Richards NOOOO, F, {"street":"889 Sarah Station Suite 624","city":"Holcomb","state":"KS","zip":"67851"}, 37.9931, -100.9893, 2691, Arboriculturist, 1993-08-16}                |2019-01-01 00:04:42  |83ec1cc84142af6e2acf10c44949e720|Kelsey, , Richards NOOOO |F     |{street -> 889 Sarah Station Suite 624, city -> Holcomb, state -> KS, zip -> 67851}                |37.9931|-100.9893         |2691    |Arboriculturist                              |1993-08-16|889 Sarah Station Suite 624   |Holcomb                 |KS   |67851|
|7         |71.65 |gas_transport|NA         |6011360759745864   |0       |1325376308837349|1325376308152         |38.948089         |-78.540296        |22644        |fraud_Corwin-Collins                    |{Steven, Williams, M, {"street":"231 Flores Pass Suite 720","city":"Edinburg","state":"VA","zip":"22824"}, 38.8432, -78.6003, 6018, Designer, multimedia, 1947-08-21}                     |2019-01-01 00:05:08  |6d294ed2cc447d2c71c7171a3d54967c|Steven, Williams         |M     |{street -> 231 Flores Pass Suite 720, city -> Edinburg, state -> VA, zip -> 22824}                 |38.8432|-78.6003          |6018    |Designer, multimedia                         |1947-08-21|231 Flores Pass Suite 720     |Edinburg                |VA   |22824|
|8         |4.27  |misc_pos     |ACEEUS31   |4922710831011201   |0       |1325376318245892|1325376318278         |40.351813         |-79.958146        |15236        |fraud_Herzog Ltd                        |{Heather, , Chase NOOOO, F, {"street":"6888 Hicks Stream Suite 954","city":"Manor","state":"PA","zip":"15665"}, 40.3359, -79.6607, 1472, Public affairs consultant, 1941-03-07}           |2019-01-01 00:05:18  |fc28024ce480f8ef21a32d64c93a29f5|Heather, , Chase NOOOO   |F     |{street -> 6888 Hicks Stream Suite 954, city -> Manor, state -> PA, zip -> 15665}                  |40.3359|-79.6607          |1472    |Public affairs consultant                    |1941-03-07|6888 Hicks Stream Suite 954   |Manor                   |PA   |15665|
|9         |198.39|grocery_pos  |DEUTUS33TRF|2720830304681674   |0       |1325376361965234|1325376361857         |37.179198         |-87.485381        |42442        |fraud_Schoen, Kuphal and Nitzsche       |{Melissa@Aguilar, F, {"street":"21326 Taylor Squares Suite 708","city":"Clarksville","state":"TN","zip":"37040"}, 36.522, -87.34899999999999, 151785, Pathologist, 1974-03-28}            |2019-01-01 00:06:01  |3b9014ea8fb80bd65de0b1463b00b00e|Melissa@Aguilar          |F     |{street -> 21326 Taylor Squares Suite 708, city -> Clarksville, state -> TN, zip -> 37040}         |36.522 |-87.34899999999999|151785  |Pathologist                                  |1974-03-28|21326 Taylor Squares Suite 708|Clarksville             |TN   |37040|
|10        |24.74 |grocery_pos  |           |4642894980163      |0       |1325376383967287|1325376383455         |40.275890999999994|-96.011548        |68348        |fraud_Rutherford-Mertz                  |{Eddie|Mendez!!!, M, {"street":"1831 Faith View Suite 653","city":"Clarinda","state":"IA","zip":"51632"}, 40.7491, -95.038, 7297, IT trainer, 1990-07-13}                                 |2019-01-01 00:06:23  |d71c95ab6b7356dd74389d41df429c87|Eddie|Mendez!!!          |M     |{street -> 1831 Faith View Suite 653, city -> Clarinda, state -> IA, zip -> 51632}                 |40.7491|-95.038           |7297    |IT trainer                                   |1990-07-13|1831 Faith View Suite 653     |Clarinda                |IA   |51632|
|11        |7.77  |shopping_net |DEUTUS33TRF|377234009633447    |0       |1325376413912233|1325376413859         |40.103866         |-78.624459        |15554        |fraud_Kerluke-Abshire                   |{Theresa@Blackwell, F, {"street":"43576 Kristina Islands","city":"Shenandoah Junction","state":"WV","zip":"25442"}, 39.3716, -77.8229, 1925, Systems developer, 1966-02-14}               |2019-01-01 00:06:53  |3c74776e558f1499a7824b556e474b1d|Theresa@Blackwell        |F     |{street -> 43576 Kristina Islands, city -> Shenandoah Junction, state -> WV, zip -> 25442}         |39.3716|-77.8229          |1925    |Systems developer                            |1966-02-14|43576 Kristina Islands        |Shenandoah Junction     |WV   |25442|
|12        |71.22 |grocery_pos  |DEUTUS33TRF|180042946491150    |0       |1325376416569264|1325376416443         |27.630593         |-82.308891        |33598        |fraud_Lockman Ltd                       |{Charles|Robles!!!, M, {"street":"3337 Lisa Divide","city":"Saint Petersburg","state":"FL","zip":"33710"}, 27.7898, -82.7243, 341043, Engineer, land, 1989-02-28}                         |2019-01-01 00:06:56  |c1d9a7ddb1e34639fe82758de97f4abf|Charles|Robles!!!        |M     |{street -> 3337 Lisa Divide, city -> Saint Petersburg, state -> FL, zip -> 33710}                  |27.7898|-82.7243          |341043  |Engineer, land                               |1989-02-28|3337 Lisa Divide              |Saint Petersburg        |FL   |33710|
|13        |96.29 |grocery_pos  |ACEEUS31   |5559857416065248   |0       |1325376447442465|1325376447771         |41.65752          |-122.230347       |NULL         |fraud_Kiehn Inc                         |{Jack@Hill, M, {"street":"5916 Susan Bridge Apt. 939","city":"Grenada","state":"CA","zip":"96038"}, 41.6125, -122.5258, 589, Systems analyst, 1945-12-21}                                 |2019-01-01 00:07:27  |413636e759663f264aae1819a4d4f231|Jack@Hill                |M     |{street -> 5916 Susan Bridge Apt. 939, city -> Grenada, state -> CA, zip -> 96038}                 |41.6125|-122.5258         |589     |Systems analyst                              |1945-12-21|5916 Susan Bridge Apt. 939    |Grenada                 |CA   |96038|
|14        |7.77  |shopping_pos |ACEEUS31   |3514865930894695   |0       |132537654399153 |1325376543282         |32.863258         |-106.520205       |NULL         |fraud_Beier-Hyatt                       |{Christopher@Castaneda, M, {"street":"1632 Cohen Drive Suite 639","city":"High Rolls Mountain Park","state":"NM","zip":"88325"}, 32.9396, -105.8189, 899, Naval architect, 1967-08-30}    |2019-01-01 00:09:03  |8a6293af5ed278dea14448ded2685fea|Christopher@Castaneda    |M     |{street -> 1632 Cohen Drive Suite 639, city -> High Rolls Mountain Park, state -> NM, zip -> 88325}|32.9396|-105.8189         |899     |Naval architect                              |1967-08-30|1632 Cohen Drive Suite 639    |High Rolls Mountain Park|NM   |88325|
|15        |3.26  |shopping_net |CITIUS33CHI|6011999606625827   |0       |1325376560448213|1325376560435         |41.831174         |-74.335559        |12446        |fraud_Schmidt and Sons                  |{Ronald@Carson, M, {"street":"870 Rocha Drive","city":"Harrington Park","state":"NJ","zip":"7640"}, 40.9918, -73.98, 4664, Radiographer, diagnostic, 1965-06-30}                          |2019-01-01 00:09:20  |baae0b096835c975857eea7e28dde3dc|Ronald@Carson            |M     |{street -> 870 Rocha Drive, city -> Harrington Park, state -> NJ, zip -> 7640}                     |40.9918|-73.98            |4664    |Radiographer, diagnostic                     |1965-06-30|870 Rocha Drive               |Harrington Park         |NJ   |7640 |
|16        |327.0 |misc_net     |CITIUS33CHI|6011860238257910   |0       |132537664977977 |1325376649369         |36.384091999999995|-99.048472        |73852        |fraud_Lebsack and Sons                  |{Lisa, Mendez, F, {"street":"44259 Beth Station Suite 215","city":"Lahoma","state":"OK","zip":"73754"}, 36.385, -98.0727, 1078, Programme researcher, broadcasting/film/video, 1952-07-06}|2019-01-01 00:10:49  |991c04803b4d4eeab30d6245a872e3d3|Lisa, Mendez             |F     |{street -> 44259 Beth Station Suite 215, city -> Lahoma, state -> OK, zip -> 73754}                |36.385 |-98.0727          |1078    |Programme researcher, broadcasting/film/video|1952-07-06|44259 Beth Station Suite 215  |Lahoma                  |OK   |73754|
|17        |341.67|shopping_pos |           |3565423334076143   |0       |1325376658780653|1325376658125         |38.674491         |-88.305767        |62824        |fraud_Mayert Group                      |{Nathan,Thomas,eeeee, M, {"street":"4923 Campbell Pines Suite 717","city":"Carlisle","state":"IN","zip":"47838"}, 38.9763, -87.3667, 4081, Energy engineer, 1938-03-15}                   |2019-01-01 00:10:58  |f12cf52be2175703db789a4644c32f25|Nathan,Thomas,eeeee      |M     |{street -> 4923 Campbell Pines Suite 717, city -> Carlisle, state -> IN, zip -> 47838}             |38.9763|-87.3667          |4081    |Energy engineer                              |1938-03-15|4923 Campbell Pines Suite 717 |Carlisle                |IN   |47838|
|18        |63.07 |food_dining  |APBCUS61   |2348245054386329   |0       |1325376674645606|1325376674800         |41.430274         |-79.492553        |16364        |fraud_Konopelski, Schneider and Hartmann|{Justin, Gay, M, {"street":"268 Hayes Rue Suite 811","city":"Harborcreek","state":"PA","zip":"16421"}, 42.1767, -79.9416, 2518, Event organiser, 1946-02-02}                              |2019-01-01 00:11:14  |8500f3d459047eac8443307b1e8296e5|Justin, Gay              |M     |{street -> 268 Hayes Rue Suite 811, city -> Harborcreek, state -> PA, zip -> 16421}                |42.1767|-79.9416          |2518    |Event organiser                              |1946-02-02|268 Hayes Rue Suite 811       |Harborcreek             |PA   |16421|
|19        |44.71 |grocery_pos  |           |4956828990005111019|0       |132537675433224 |1325376754863         |40.079588         |-74.84808699999999|08016        |fraud_Schultz, Simonis and Little       |{Kenneth, , Robinson NOOOO, M, {"street":"269 Sanchez Rapids","city":"Elizabeth","state":"NJ","zip":"7208"}, 40.6747, -74.2239, 124967, Operational researcher, 1980-12-21}               |2019-01-01 00:12:34  |09eff9c806365e2a6be12c1bbab3d70e|Kenneth, , Robinson NOOOO|M     |{street -> 269 Sanchez Rapids, city -> Elizabeth, state -> NJ, zip -> 7208}                        |40.6747|-74.2239          |124967  |Operational researcher                       |1980-12-21|269 Sanchez Rapids            |Elizabeth               |NJ   |7208 |
+----------+------+-------------+-----------+-------------------+--------+----------------+----------------------+------------------+------------------+-------------+----------------------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------+--------------------------------+-------------------------+------+---------------------------------------------------------------------------------------------------+-------+------------------+--------+---------------------------------------------+----------+------------------------------+------------------------+-----+-----+
only showing top 20 rows

Remove old columns

In [17]:
columns_to_remove = ["personal_detail", "address"]
transaction_data.drop_column(columns_to_remove)

Display new data structure

In [18]:
transaction_data.show_schema()

root
 |-- Unnamed: 0: string (nullable = true)
 |-- amt: string (nullable = true)
 |-- category: string (nullable = true)
 |-- cc_bic: string (nullable = true)
 |-- cc_num: string (nullable = true)
 |-- is_fraud: string (nullable = true)
 |-- merch_eff_time: string (nullable = true)
 |-- merch_last_update_time: string (nullable = true)
 |-- merch_lat: string (nullable = true)
 |-- merch_long: string (nullable = true)
 |-- merch_zipcode: string (nullable = true)
 |-- merchant: string (nullable = true)
 |-- trans_date_trans_time: string (nullable = true)
 |-- trans_num: string (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- lat: string (nullable = true)
 |-- long: string (nullable = true)
 |-- city_pop: string (nullable = true)
 |-- job: string (nullable = true)
 |-- dob: date (nullable = true)
 |-- street: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- zip: string (nullable = true)

Cast appropriate type to other columns except datetime columns

In [19]:
column_types = {
    "Unnamed: 0": IntegerType(),
    "amt": FloatType(),
    "category": StringType(),
    "cc_bic": StringType(),
    "cc_num": StringType(),
    "is_fraud": IntegerType(),
    "merch_lat": DoubleType(),
    "merch_long": DoubleType(),
    "lat": DoubleType(),
    "long": DoubleType(),
    "merch_zipcode": StringType(),
    "merchant": StringType(),
    "trans_num": StringType(),
}

In [20]:
transaction_data.cast_column_type(column_types=column_types)

In [21]:
transaction_data.show_schema()

root
 |-- Unnamed: 0: integer (nullable = true)
 |-- amt: float (nullable = true)
 |-- category: string (nullable = true)
 |-- cc_bic: string (nullable = true)
 |-- cc_num: string (nullable = true)
 |-- is_fraud: integer (nullable = true)
 |-- merch_eff_time: string (nullable = true)
 |-- merch_last_update_time: string (nullable = true)
 |-- merch_lat: double (nullable = true)
 |-- merch_long: double (nullable = true)
 |-- merch_zipcode: string (nullable = true)
 |-- merchant: string (nullable = true)
 |-- trans_date_trans_time: string (nullable = true)
 |-- trans_num: string (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- lat: double (nullable = true)
 |-- long: double (nullable = true)
 |-- city_pop: string (nullable = true)
 |-- job: string (nullable = true)
 |-- dob: date (nullable = true)
 |-- street: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- zip: string (nullable = true)

Transform columns with timestamp to datetime format

In [22]:
transaction_data.select_columns(
    ["merch_eff_time", "merch_last_update_time"], number_row=100
)

+----------------+----------------------+
|merch_eff_time  |merch_last_update_time|
+----------------+----------------------+
|1325376018798532|1325376018666         |
|1325376044867960|132537604479          |
|1325376051506840|1325376051286         |
|1325376076794698|1325376076365         |
|1325376186746376|132537618681          |
|1325376248271406|1325376248483         |
|1325376282274130|1325376282247         |
|1325376308837349|1325376308152         |
|1325376318245892|1325376318278         |
|1325376361965234|1325376361857         |
|1325376383967287|1325376383455         |
|1325376413912233|1325376413859         |
|1325376416569264|1325376416443         |
|1325376447442465|1325376447771         |
|132537654399153 |1325376543282         |
|1325376560448213|1325376560435         |
|132537664977977 |1325376649369         |
|1325376658780653|1325376658125         |
|1325376674645606|1325376674800         |
|132537675433224 |1325376754863         |
|1325376788679431|1325376788881         |
|1325376877626507|1325376877765         |
|1325377036676252|1325377036949         |
|1325377060351163|1325377060580         |
|1325377086510394|1325377086531         |
|1325377087223427|132537708776          |
|1325377215445010|132537721512          |
|1325377292834523|1325377292741         |
|1325377326969473|1325377326286         |
|1325377338107571|1325377338832         |
|1325377356272892|132537735668          |
|1325377359352765|1325377359494         |
|1325377364695761|132537736448          |
|1325377421985581|1325377421876         |
|1325377438990512|1325377438200         |
|132537754683095 |1325377546866         |
|1325377582383800|1325377582231         |
|1325377665385593|1325377665278         |
|1325377676275314|1325377676596         |
|1325377751366893|132537775131          |
|1325377849435213|1325377849661         |
|1325377861608999|1325377861776         |
|1325377911377770|1325377911221         |
|1325377935388795|1325377935237         |
|1325377935934413|1325377935155         |
|1325377967527209|1325377967720         |
|1325378031480550|1325378031259         |
|1325378050162457|1325378050356         |
|1325378172525950|1325378172100         |
|1325378218133701|1325378218325         |
|1325378238768102|1325378238194         |
|1325378362705874|1325378362161         |
|1325378377752163|1325378377939         |
|1325378383804997|1325378383893         |
|1325378444611685|1325378444502         |
|1325378448287795|1325378448791         |
|132537845010331 |1325378450152         |
|1325378458320757|1325378458845         |
|1325378503416755|1325378503863         |
|1325378505605351|132537850588          |
|1325378546144122|1325378546275         |
|1325378618649910|1325378618806         |
|1325378660717189|1325378660458         |
|1325378683155795|1325378683624         |
|1325378713219398|1325378713284         |
|1325378778265884|1325378778425         |
|1325378875809895|1325378875342         |
|1325378889406223|132537888975          |
|1325378965428741|1325378965528         |
|1325378971894941|1325378971515         |
|1325379053658393|132537905310          |
|132537917797962 |1325379177665         |
|1325379305821303|1325379305757         |
|1325379372291569|1325379372908         |
|132537940434881 |1325379404207         |
|1325379419992748|1325379419461         |
|1325379437932253|132537943784          |
|1325379450732883|132537945078          |
|1325379482209526|1325379482769         |
|1325379533806492|1325379533828         |
|1325379565999316|1325379565931         |
|1325379619573368|1325379619575         |
|1325379648413611|132537964831          |
|132537970863145 |1325379708925         |
|132537973638219 |132537973660          |
|1325379773663426|1325379773534         |
|1325379888137302|1325379888440         |
|1325379966832915|1325379966379         |
|1325379982924622|1325379982832         |
|1325380111314140|1325380111363         |
|1325380162393540|1325380162293         |
|132538018113    |1325380181966         |
|1325380197893232|1325380197807         |
|1325380197405559|1325380197532         |
|132538021630186 |1325380216702         |
|1325380262568790|1325380262953         |
|1325380451412037|1325380451420         |
|1325380451339832|1325380451245         |
|1325380495888125|1325380495597         |
|1325380501955826|1325380501374         |
+----------------+----------------------+
only showing top 100 rows

It seems that merch_eff_time is a timestamp with mostly 16 digits. Unix timestamp is 10 digit format in seconds, so we assume that for merch_eff_time the value is in microseconds therefore we have to divide it by 1M to get the value in seconds.

For merch_last_update_time column, it mostly contains 13/12 digits so we assume that it is in miliseconds and we can divide by 1000 to get the timestamp in seconds.

However, I am not too sure if this correct because the datetime differs greatly from the column trans_date_trans_time.

In [23]:
timestamp_columns = {"merch_eff_time": 1000000, "merch_last_update_time": 1000}

In [24]:
transaction_data.convert_timestamp_to_datetime(timestamp_columns)

In [25]:
transaction_data.select_columns(["merch_eff_time", "merch_last_update_time"])

+-------------------+----------------------+
|merch_eff_time     |merch_last_update_time|
+-------------------+----------------------+
|2012-01-01 00:00:18|2012-01-01 00:00:18   |
|2012-01-01 00:00:44|1974-03-15 00:00:04   |
|2012-01-01 00:00:51|2012-01-01 00:00:51   |
|2012-01-01 00:01:16|2012-01-01 00:01:16   |
|2012-01-01 00:03:06|1974-03-15 00:00:18   |
|2012-01-01 00:04:08|2012-01-01 00:04:08   |
|2012-01-01 00:04:42|2012-01-01 00:04:42   |
|2012-01-01 00:05:08|2012-01-01 00:05:08   |
|2012-01-01 00:05:18|2012-01-01 00:05:18   |
|2012-01-01 00:06:01|2012-01-01 00:06:01   |
|2012-01-01 00:06:23|2012-01-01 00:06:23   |
|2012-01-01 00:06:53|2012-01-01 00:06:53   |
|2012-01-01 00:06:56|2012-01-01 00:06:56   |
|2012-01-01 00:07:27|2012-01-01 00:07:27   |
|1974-03-15 00:00:54|2012-01-01 00:09:03   |
|2012-01-01 00:09:20|2012-01-01 00:09:20   |
|1974-03-15 00:01:04|2012-01-01 00:10:49   |
|2012-01-01 00:10:58|2012-01-01 00:10:58   |
|2012-01-01 00:11:14|2012-01-01 00:11:14   |
|1974-03-15 00:01:15|2012-01-01 00:12:34   |
+-------------------+----------------------+
only showing top 20 rows

In [26]:
transaction_data.convert_date_format(
    ["merch_eff_time", "merch_last_update_time", "trans_date_trans_time"]
)

After converted to a human-readable timestamp format in UTC +8 timezone (e.g., YYYY-MM-DD HH:MM.SSSSSS Z)

In [27]:
transaction_data.select_columns(
    ["merch_eff_time", "merch_last_update_time", "trans_date_trans_time"]
)

+--------------------------------+--------------------------------+--------------------------------+
|merch_eff_time                  |merch_last_update_time          |trans_date_trans_time           |
+--------------------------------+--------------------------------+--------------------------------+
|2011-12-31 16:00:18.000000 +0800|2011-12-31 16:00:18.000000 +0800|2018-12-31 16:00:18.000000 +0800|
|2011-12-31 16:00:44.000000 +0800|1974-03-14 16:00:04.000000 +0800|2018-12-31 16:00:44.000000 +0800|
|2011-12-31 16:00:51.000000 +0800|2011-12-31 16:00:51.000000 +0800|2018-12-31 16:00:51.000000 +0800|
|2011-12-31 16:01:16.000000 +0800|2011-12-31 16:01:16.000000 +0800|2018-12-31 16:01:16.000000 +0800|
|2011-12-31 16:03:06.000000 +0800|1974-03-14 16:00:18.000000 +0800|2018-12-31 16:03:06.000000 +0800|
|2011-12-31 16:04:08.000000 +0800|2011-12-31 16:04:08.000000 +0800|2018-12-31 16:04:08.000000 +0800|
|2011-12-31 16:04:42.000000 +0800|2011-12-31 16:04:42.000000 +0800|2018-12-31 16:04:42.000000 +0800|
|2011-12-31 16:05:08.000000 +0800|2011-12-31 16:05:08.000000 +0800|2018-12-31 16:05:08.000000 +0800|
|2011-12-31 16:05:18.000000 +0800|2011-12-31 16:05:18.000000 +0800|2018-12-31 16:05:18.000000 +0800|
|2011-12-31 16:06:01.000000 +0800|2011-12-31 16:06:01.000000 +0800|2018-12-31 16:06:01.000000 +0800|
|2011-12-31 16:06:23.000000 +0800|2011-12-31 16:06:23.000000 +0800|2018-12-31 16:06:23.000000 +0800|
|2011-12-31 16:06:53.000000 +0800|2011-12-31 16:06:53.000000 +0800|2018-12-31 16:06:53.000000 +0800|
|2011-12-31 16:06:56.000000 +0800|2011-12-31 16:06:56.000000 +0800|2018-12-31 16:06:56.000000 +0800|
|2011-12-31 16:07:27.000000 +0800|2011-12-31 16:07:27.000000 +0800|2018-12-31 16:07:27.000000 +0800|
|1974-03-14 16:00:54.000000 +0800|2011-12-31 16:09:03.000000 +0800|2018-12-31 16:09:03.000000 +0800|
|2011-12-31 16:09:20.000000 +0800|2011-12-31 16:09:20.000000 +0800|2018-12-31 16:09:20.000000 +0800|
|1974-03-14 16:01:04.000000 +0800|2011-12-31 16:10:49.000000 +0800|2018-12-31 16:10:49.000000 +0800|
|2011-12-31 16:10:58.000000 +0800|2011-12-31 16:10:58.000000 +0800|2018-12-31 16:10:58.000000 +0800|
|2011-12-31 16:11:14.000000 +0800|2011-12-31 16:11:14.000000 +0800|2018-12-31 16:11:14.000000 +0800|
|1974-03-14 16:01:15.000000 +0800|2011-12-31 16:12:34.000000 +0800|2018-12-31 16:12:34.000000 +0800|
+--------------------------------+--------------------------------+--------------------------------+
only showing top 20 rows

Clean name column and extract first, last name

Name Derivation: Extract first and last name columns from person_name:
- The expected format is based on "first, last" but you may
encounter dirty data. Please process the name based on following
example:
    - person_name: "Edward, Sanchez" should result in First: "Edward" and Last: "Sanchez".

In [28]:
transaction_data.select_columns(["name"])

+-------------------------+
|name                     |
+-------------------------+
|Jennifer,Banks,eeeee     |
|Stephanie,Gill,eeeee     |
|Edward@Sanchez           |
|Jeremy/White, !          |
|Tyler@Garcia             |
|Jennifer,Conner,eeeee    |
|Kelsey, , Richards NOOOO |
|Steven, Williams         |
|Heather, , Chase NOOOO   |
|Melissa@Aguilar          |
|Eddie|Mendez!!!          |
|Theresa@Blackwell        |
|Charles|Robles!!!        |
|Jack@Hill                |
|Christopher@Castaneda    |
|Ronald@Carson            |
|Lisa, Mendez             |
|Nathan,Thomas,eeeee      |
|Justin, Gay              |
|Kenneth, , Robinson NOOOO|
+-------------------------+
only showing top 20 rows

Replace punctuations in string with empty space

In [29]:
transaction_data.replace_regex_in_column("name", r"[,@|/!]", " ")

This text cleaning function might be too specific for this dataset, therefore I will not create any function for this in the class to keep it generic and reusable across other datasets

Split the text into array of words

In [30]:
transaction_data.df = transaction_data.df.withColumn(
    "split_name", split(trim(col("name")), r"\s+")
)

In [31]:
transaction_data.select_columns(["name", "split_name"])

+-------------------------+--------------------------+
|name                     |split_name                |
+-------------------------+--------------------------+
|Jennifer Banks eeeee     |[Jennifer, Banks, eeeee]  |
|Stephanie Gill eeeee     |[Stephanie, Gill, eeeee]  |
|Edward Sanchez           |[Edward, Sanchez]         |
|Jeremy White             |[Jeremy, White]           |
|Tyler Garcia             |[Tyler, Garcia]           |
|Jennifer Conner eeeee    |[Jennifer, Conner, eeeee] |
|Kelsey    Richards NOOOO |[Kelsey, Richards, NOOOO] |
|Steven  Williams         |[Steven, Williams]        |
|Heather    Chase NOOOO   |[Heather, Chase, NOOOO]   |
|Melissa Aguilar          |[Melissa, Aguilar]        |
|Eddie Mendez             |[Eddie, Mendez]           |
|Theresa Blackwell        |[Theresa, Blackwell]      |
|Charles Robles           |[Charles, Robles]         |
|Jack Hill                |[Jack, Hill]              |
|Christopher Castaneda    |[Christopher, Castaneda]  |
|Ronald Carson            |[Ronald, Carson]          |
|Lisa  Mendez             |[Lisa, Mendez]            |
|Nathan Thomas eeeee      |[Nathan, Thomas, eeeee]   |
|Justin  Gay              |[Justin, Gay]             |
|Kenneth    Robinson NOOOO|[Kenneth, Robinson, NOOOO]|
+-------------------------+--------------------------+
only showing top 20 rows

Create individual column based on the first and second item in the array
- Assumption is made that between the first and last name will always be the first and second item in the array, this will not work correctly if there are other words in between them

In [32]:
transaction_data.df = transaction_data.df.withColumn(
    "first", col("split_name").getItem(0)
).withColumn("last", col("split_name").getItem(1))

In [33]:
transaction_data.select_columns(["name", "first", "last"])

+-------------------------+-----------+---------+
|name                     |first      |last     |
+-------------------------+-----------+---------+
|Jennifer Banks eeeee     |Jennifer   |Banks    |
|Stephanie Gill eeeee     |Stephanie  |Gill     |
|Edward Sanchez           |Edward     |Sanchez  |
|Jeremy White             |Jeremy     |White    |
|Tyler Garcia             |Tyler      |Garcia   |
|Jennifer Conner eeeee    |Jennifer   |Conner   |
|Kelsey    Richards NOOOO |Kelsey     |Richards |
|Steven  Williams         |Steven     |Williams |
|Heather    Chase NOOOO   |Heather    |Chase    |
|Melissa Aguilar          |Melissa    |Aguilar  |
|Eddie Mendez             |Eddie      |Mendez   |
|Theresa Blackwell        |Theresa    |Blackwell|
|Charles Robles           |Charles    |Robles   |
|Jack Hill                |Jack       |Hill     |
|Christopher Castaneda    |Christopher|Castaneda|
|Ronald Carson            |Ronald     |Carson   |
|Lisa  Mendez             |Lisa       |Mendez   |
|Nathan Thomas eeeee      |Nathan     |Thomas   |
|Justin  Gay              |Justin     |Gay      |
|Kenneth    Robinson NOOOO|Kenneth    |Robinson |
+-------------------------+-----------+---------+
only showing top 20 rows

Remove old name columns

In [34]:
transaction_data.drop_column(["name", "split_name"])

### PII (Personally Identifiable Information)
- Refers to any data that can potentially identify an individual for example:
   - Full name (first name + last name)
   - Credit card number, ID number, email address, etc.
- This dataset contains a few PII data such as `cc_num` (credit card number) and `name` (full name)
- An address by itself might not be considered PII as many individuals can have the same address, but it can become PII when combined with other identifiers (i.e name, DOB, gender) because it can uniquely identify an individual when combined with other data


### Handling PII data
1. **Hashing**:
   - Hashing is a one-way function that converts data (like a credit card number or name) into a fixed-length string of characters. Hashing is deterministic, which means it will always return the same value with the same input
   - By hashing PII data such as credit card numbers or names, we can prevent the original data from being exposed while still being able to perform operations like comparisons or matching. For example, if you hash the name and compare it with another hashed name, you can identify matches without exposing the original data.
   - However, hashing is irreversible, therefore we cannot get back the original value from the hashed value 
   - Its more suitable for situations where you only need to verify the identity of data (i.e checking if two values match) and not for recovering the original data.

2. **Encryption for Enhanced Security**:
   - Hashing is one-way and cannot be undone, but encryption is reversible, which means we can encrypt the value and perform decryption on the encrypted value to get back the original data
   - This is useful when you need to save/retrieve the original data

For this assignment, I will use Pyspark built in SHA-256 hashing to manage PII data since there is no requirement to retain or retrieve the original information.

In [35]:
pii_columns = ["cc_num", "first", "last"]

In [36]:
transaction_data.hash_column(pii_columns)

In [37]:
transaction_data.select_columns(pii_columns)

+----------------------------------------------------------------+----------------------------------------------------------------+----------------------------------------------------------------+
|cc_num                                                          |first                                                           |last                                                            |
+----------------------------------------------------------------+----------------------------------------------------------------+----------------------------------------------------------------+
|80923ef01336409c8bfd3f8f5689196742e2c9871c0275e6cf5733d0facfd843|bda0a01c76aae97ef15d6b792f3dc3cbb6609d611e9c563a54a1393fe685e31b|0959e9bdd3051a4157de0f2cc72703c78d4bf8b14eb57cc0f684b5b466b2cac3|
|f80a8e60a9f15ecf1b85ba3370ff9c2dc0242190d8bbb71fd4f95d0675002ce7|6307ab01368bdf95d382b574131d1223a6ebc16f44394d0dc0fa9361e432434a|7cb75541ff2bcd4007c78e1d19fd17b68178a40c6f4f31cb1a643f72815dfc79|
|756a303c0348d0ebb53f6a51f114fdff35dc453af29456f4a871a324c55f1c33|34405d46cb25925bf7127e1140816f54c3b6f3c76d77ebef7bd9742c43d75ff6|1cdcfc3885f538bc4c6ef194013dc7450af9a44e26cfa2a4d0f89344406caf26|
|374dcb008121abf2bd02a528ddd0c6069dea0e98d652081fe6c2f09e393787d0|8d289ec537b6e2edd43e9f464fcbf2b42c1f34fcaf0aea680d411cb4656a3d97|3495e757855a5c678addcf32516274e2962d0572f065378dba689e22168f28dd|
|7f921c03617da992089549e1df9b9d080107bfb23d446c2e4ccb8406de29d556|a435e2d26d33b5972b6638363c8dedb38f25166b363b273d7a59fe44975e49b0|2c3aaefea8267c66822f6edc0e42d9b7384695f9c0407eabda141770aab8901e|
|48867fa811840e6dc33f15d3b1c77cf0b19bc77ea307aff0fcbee6148f1aa0ab|bda0a01c76aae97ef15d6b792f3dc3cbb6609d611e9c563a54a1393fe685e31b|162cf897d1a86a16af7c7859e14cc84203aa5d6cfabba170bc177eefa0ee7406|
|324ce63ac0754a3ffe7326e6412722319be6e255b1e52410c871396a574d5f4c|b581f40d852747e3f36c31da0ffc6d8308fbf172d7864e11204c62f3890e7f0c|6bb48cc5c7864234f76568ac3f4d2ecd8767936a2d6d54b7c3306b900b637fc6|
|1a0982dcfad237278487ec899d2e1dd73cbf473712ab23a5d019238251850c8f|8360721f93d2e7e21a8f4201f3515ec089bb2a95148d8a1aca453442c98484ca|6e8d8801f51aafe8426f8d95c75de8f3f404ccae62f116070ca643403484a243|
|a5154695c5538f4d38372b939031876c060652167987eb10b5a711356fe09bef|ed14016728b28383f3cf1a26cdee73433c8ca0ddf1c98b0cef328f675603d2f9|1ae6e6416a7ad654c3bc276ec2ee2a048f7a37b42970f3140d21d0abb625780d|
|7953f70ed2959131197313cdd555124d8a08dec5f16579cbca2736be3c76eba0|3fa72d13a8c74a75c6fba8e98c526fedc05ac2ea9f265b7c270405f460b104ca|3e68e7554f62b3f4de3d1db86f612d7f3dfa4dd686c550b15e442b013e83dabb|
|f5f882b391554ef3c5304134c89a8c51240cf070303737ba14b76f20e363ae5a|72f1935f451506ea984df8b6026f1f91136db9d3854bcb98e289e52ee392e0cd|692c48e010c7158f7ce8d97c0901c310bda516c35305bafc3dbc39efa7e2b5db|
|c335ee299540acd00e22d7aaae1a84d764acfc195010bf3fa09b9437b069eb8c|5076c4e309dc8911c045b67789131fca86a26ccee193bd6a2e7561f503bd46e1|1d39692d4ee10540bc02074e58a7fedcf00ec356a3f19ccd6d909bd9370394a8|
|42ce6ca5502f541165028d9a222eaa5353ad440977e6587b7792e1ee75f84ebf|c43139196d576427b9073922c4da86ff6d0ecff71d1a2c2ad9116ad2a1e8d50d|e3498bb77c21e3527a1c1a3a58df7604087a4693d4eb9d8a5599b32ff734b6a1|
|264779d187c66c53fd96fb14017ced7c58199e8818f0bae2276a0afe15af4a1e|b5fd03dd91df1cfbd2f19c115d24d58bbda01a23fb01924bb78b2cc14f7ff1cb|21f5358c1fd3b713a0b8d13634c18d381383d67b2ab0f04c1282cd283c49d82d|
|687a7d8e85c5e7e7f04d197f7ba8c32e0a5ea7886c61e1d41d776d352b87d790|f3b46c145f69a06b8071dc1339081ce4923ee5f5ef55af2e5749ee1380c007ae|80f321f15e9cbb5b7d21ba4f2a5bc670ee840a4cc4c2ebd678811b0ad77ad533|
|77e5e39cb32339d05d0ba8d97a5309c63ef24406bfaa624a46eb5423a517303d|88e27fb4b1703bb2671edab87148ee492d8294d99a32895d39ec79fb27967480|5f661d97df859e242255baa9bf9b360d039a95a7c25079fd771244430cee6306|
|d98ed148d7cb4c9294be7bd3ea10955881c86009038e03a7fef9e88a5b0f995f|864282b76c39e6748fa8b9accb2953bc89a3ec4f6c5ca1627624d6a58edd5619|692c48e010c7158f7ce8d97c0901c310bda516c35305bafc3dbc39efa7e2b5db|
|412f4b926dd73df55d78edf28055ba95f87c1a6b1ee42de8149371c73061fa3d|9770c8d8bf2f05a2803df9e56aa2ca3218f65c203b4bf21b348563d8ee7ac66f|5dfcf9ef1fb1ecbce32fefe37ae99aff68832a7e2ac74f52daa5a1bcd8038118|
|0173389b22b35d28b99bdcb37a012a68321e7c3912bd0636ecdf588973e7c5da|46df21c3bf897655ba14e556391adf6a78fc3c5cc681d883be97de47456488ed|b118ff74c28fe0d14a806f22974182f40127e7837de7ee929f9fdc90d2039687|
|2d57e03009ec3bee1557eca9dd67f5fad880dedc7e8c60c51d9ed844bfa48b84|ca70c45c591efa030d9425c1337e2dfa14bb4cd096059fcf36be2dde1d253b53|7f36df0b525d458fdff07102342b138e50fc794015b489dcb4d3c0a8da453ffc|
+----------------------------------------------------------------+----------------------------------------------------------------+----------------------------------------------------------------+
only showing top 20 rows

Final data structure

In [38]:
transaction_data.show_schema()

root
 |-- Unnamed: 0: integer (nullable = true)
 |-- amt: float (nullable = true)
 |-- category: string (nullable = true)
 |-- cc_bic: string (nullable = true)
 |-- cc_num: string (nullable = true)
 |-- is_fraud: integer (nullable = true)
 |-- merch_eff_time: string (nullable = true)
 |-- merch_last_update_time: string (nullable = true)
 |-- merch_lat: double (nullable = true)
 |-- merch_long: double (nullable = true)
 |-- merch_zipcode: string (nullable = true)
 |-- merchant: string (nullable = true)
 |-- trans_date_trans_time: string (nullable = true)
 |-- trans_num: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- lat: double (nullable = true)
 |-- long: double (nullable = true)
 |-- city_pop: string (nullable = true)
 |-- job: string (nullable = true)
 |-- dob: date (nullable = true)
 |-- street: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- zip: string (nullable = true)
 |-- first: string (nullable = true)
 |-- last: string (nullable = true)

## Data Analytics and Visualization

Dataset statistics

In [39]:
transaction_data.show_df_info()

Number of rows: 1296675
Number of columns: 26
Column names: ['Unnamed: 0', 'amt', 'category', 'cc_bic', 'cc_num', 'is_fraud', 'merch_eff_time', 'merch_last_update_time', 'merch_lat', 'merch_long', 'merch_zipcode', 'merchant', 'trans_date_trans_time', 'trans_num', 'gender', 'lat', 'long', 'city_pop', 'job', 'dob', 'street', 'city', 'state', 'zip', 'first', 'last']

Check if data contains null values

In [40]:
transaction_data.show_columns_null_count()

+----------+---+--------+------+------+--------+--------------+----------------------+---------+----------+-------------+--------+---------------------+---------+------+---+----+--------+---+---+------+----+-----+---+-----+----+
|Unnamed: 0|amt|category|cc_bic|cc_num|is_fraud|merch_eff_time|merch_last_update_time|merch_lat|merch_long|merch_zipcode|merchant|trans_date_trans_time|trans_num|gender|lat|long|city_pop|job|dob|street|city|state|zip|first|last|
+----------+---+--------+------+------+--------+--------------+----------------------+---------+----------+-------------+--------+---------------------+---------+------+---+----+--------+---+---+------+----+-----+---+-----+----+
|         0|  0|       0|288595|     0|       0|             0|                     0|        0|         0|       195973|       0|                    0|        0|     0|  0|   0|       0|  0|  0|     0|   0|    0|  0|    0|   0|
+----------+---+--------+------+------+--------+--------------+----------------------+---------+----------+-------------+--------+---------------------+---------+------+---+----+--------+---+---+------+----+-----+---+-----+----+

Assess the impact of null values on the following columns:
- cc_bic
- merch_zipcode

### Credit Card BIC Code
==============================================================================================================================================
Purpose: It identifies the financial institution involved in the transaction, helping to ensure that funds are transferred to the correct bank.

Format: The BIC code is 8 to 11 characters long and is structured as follows:
  - 4 characters for the bank code (identifies the financial institution).
  - 2 characters for the country code (e.g., "US" for the United States, "GB" for the United Kingdom).
  - 2 characters for the location code (city or region).
  - 3 optional characters for the branch code (optional; used if you need to specify a particular branch of the bank).
  
A BIC code is primarily used in cross-border payments like wire transfers and international settlements but is not directly linked to credit card numbers. In the context of credit cards, BIC codes might appear on transaction records or payment processing systems to identify the bank handling the transaction.

Credit card BIC codes (Bank Identifier Codes) are generally not mandatory for credit card transactions. The BIC code is primarily used in international bank transfers or wire transfers to identify financial institutions and is not directly tied to the transaction details for typical credit card payments.

==============================================================================================================================================

Based on the following explanation from the internet, we will assume that columns without values are for non international bank/wire transfers and those that contains valid values are for international transactions. We can replace the null or blank values with a generic "NA" value to indicate that for the transaction, the cc_bic is Not Applicable.

In [41]:
transaction_data.df = transaction_data.df.withColumn(
    "cc_bic",
    when(
        (col("cc_bic").isNull())
        | (trim(col("cc_bic")) == "")
        | (trim(lower(col("cc_bic"))) == "null"),
        "NA",
    ).otherwise(col("cc_bic")),
)

In [42]:
transaction_data.select_columns(["cc_bic"])

+-----------+
|cc_bic     |
+-----------+
|CITIUS33CHI|
|ADMDUS41   |
|NA         |
|DEUTUS33TRF|
|APBCUS61   |
|APBCUS61   |
|APBCUS61   |
|NA         |
|ACEEUS31   |
|DEUTUS33TRF|
|NA         |
|DEUTUS33TRF|
|DEUTUS33TRF|
|ACEEUS31   |
|ACEEUS31   |
|CITIUS33CHI|
|CITIUS33CHI|
|NA         |
|APBCUS61   |
|NA         |
+-----------+
only showing top 20 rows

### Merchant Zipcode

**Purpose**: To identify the specific regions, locations, or addresses

Aside from merch_zipcode, other locations data that are in the dataset includes latitude (merch_lat) and longitude (merch_long) that can be used to determine the geographic location of the merchant. 

From PCI guidelines, it is not always required in the transaction detail but recommended to enhance fraud detection.

Based on those observations, we will assume that this column is optional and that null values would not have much impact if it's absent especially when other location data is also present.

Therefore, I will remain the null values as is in the merch_zipcode column

Check for duplicate rows

In [43]:
transaction_data.duplicate_rows()

Number of duplicate rows: 0

Check for distinct values

In [44]:
all_unique_columns = []
columns_with_repeat = []

In [45]:
for c in transaction_data.df.columns:
    unique_values = transaction_data.get_unique_values_in_column(c)
    (
        all_unique_columns.append(c)
        if unique_values == transaction_data.df_count
        else columns_with_repeat.append((c, unique_values))
    )

In [46]:
columns_with_repeat

[('amt', 52928),
 ('category', 14),
 ('cc_bic', 7),
 ('cc_num', 983),
 ('is_fraud', 2),
 ('merch_eff_time', 1276958),
 ('merch_last_update_time', 1276942),
 ('merch_lat', 1247805),
 ('merch_long', 1275745),
 ('merch_zipcode', 28337),
 ('merchant', 693),
 ('trans_date_trans_time', 1274791),
 ('gender', 2),
 ('lat', 968),
 ('long', 969),
 ('city_pop', 879),
 ('job', 494),
 ('dob', 968),
 ('street', 983),
 ('city', 894),
 ('state', 51),
 ('zip', 970),
 ('first', 352),
 ('last', 481)]

In [47]:
print("Columns with all unique values:", all_unique_columns)

Columns with all unique values: ['Unnamed: 0', 'trans_num']

In [48]:
for c in columns_with_repeat:
    column_name = c[0]
    column_unique_values = int(c[-1])
    print(f"Number of unique values in column {column_name}:", column_unique_values)
    if column_unique_values < 100:
        transaction_data.get_column_values_count(column_name, show_all=True)
    elif column_unique_values > 100 and column_unique_values < 10000:
        transaction_data.get_column_values_count(column_name, num_show=100)

Number of unique values in column amt: 52928
Number of unique values in column category: 14
+--------------+------+
|category      |count |
+--------------+------+
|gas_transport |131659|
|grocery_pos   |123638|
|home          |123115|
|shopping_pos  |116672|
|kids_pets     |113035|
|shopping_net  |97543 |
|entertainment |94014 |
|food_dining   |91461 |
|personal_care |90758 |
|health_fitness|85879 |
|misc_pos      |79655 |
|misc_net      |63287 |
|grocery_net   |45452 |
|travel        |40507 |
+--------------+------+

Number of unique values in column cc_bic: 7
+-----------+------+
|cc_bic     |count |
+-----------+------+
|NA         |432980|
|AIABUS31   |144457|
|ACEEUS31   |144138|
|DEUTUS33TRF|144014|
|CITIUS33CHI|143832|
|ADMDUS41   |143726|
|APBCUS61   |143528|
+-----------+------+

Number of unique values in column cc_num: 983
+----------------------------------------------------------------+-----+
|cc_num                                                          |count|
+----------------------------------------------------------------+-----+
|1d23a78a489b4e6eeb50199670527c67b6616ad71a3b316247d74d2507949977|3123 |
|2776266470b9b04633f76717e941c373187376e99ad5b801aa15f2100ea037a3|3123 |
|e2097d89a4b23b168450c9f5d25b08f3bd8ef516788381ee991e8c50060d3e70|3119 |
|adcf6522b3114d26427d7aa4f595be549bc8d9531aa1d4daf470d577b45f4d43|3117 |
|d593f8171110027432b7a73f0858730160ac8880b1a37680f32b8dfa6ebd46f2|3113 |
|84cabe5bb4ad1f6f22a60c4e7897c3cf6cbde29e3cd8e5c1722a43bc94e232e7|3112 |
|3f128965b93d1c1772d7a27473f11a25dce7bd0def5883e3f86eeb3691d3fae4|3110 |
|0d5e6119a49bb6c607204834b66323e9ecdf0c8410352995edd90fa784b3d070|3107 |
|fa46922d7b8af2ad8a37438febe27795ba997ec5c81f8f2eb20859c7c7a10445|3106 |
|a3a62304e05705d4a85684b3b027dd7e30904d784d14e48dafbcf386705ebf56|3101 |
|4a65792be2a4e62ce307c0ec6c43e082754a529cb6d2e2685583089dcc19373b|3099 |
|22048700d37f94c7735c58fb8766da3befbfd1a12ab203a06fd13ce4f75948c0|3095 |
|5d1b3fd0878e831cd01c043aa46b99650e48f258dbad07c6e15e0532f005672b|3090 |
|23231d5fa7b035e46361ea9beebe015681879680d6541f0c987a2d4f455b5409|3090 |
|20e1aad156bd7fabec030f3040e531c68609c9c3cbb27d80e60931d2a7a5f1d7|3088 |
|d5d2ef387603ad15e93de15a008f1fc4165a25f66f10199a39f9157a09242972|3087 |
|3ca14369f59c56e79d6bad9db761ad082be4dcb4a1935edbc04fe81c3a1487bf|3083 |
|6a3f2c3d9ef0ffae189e7fd32ac858d1c41cd14921f33d52c277828b711ca73a|3082 |
|931516cac2466fea37966c567868dcfe8dc94dfd379001a8d82a7e966205b6de|3081 |
|84892a2ed0e0b2aaed4f6e46283a633f6da39d29f6e011bea7a00aa0c5c0c127|3080 |
|92eb05d3e8ba5c7bb5cbc72ffee2d5d6a9eefea5f0d25573a7956ea32a86b679|3077 |
|a51fcb4f97c466a4aa8faabeebf0c91a6d5b20d8162ddb8cd430c49dc3ba6c87|3074 |
|fbb6735c0b1dfd3a1ec17e80839d76cdbfdf5a32ba0ce584c685fe26e0df0d56|3074 |
|b4fa0aaba467b0bfb4304d4dd5a02d3c708cbdf33630c6cb61ad3792e591bf50|3072 |
|e8ea2c5345495b65ee7b4863eaa23dbb32b202d8135cd5e41e292d2c7441add6|3071 |
|b82bf3d7ebc120e155310717d592d122dbee2b2b2c5ef0663a36edc69f473b47|3064 |
|534ca7cfba43c89a9ae5c9b45e3e68d7c7e3156746c0d17a45741523ae607e91|3061 |
|8159e7e7dc272698c938cd6f9248d6ea5f3221165e2822e666939f24e735e001|3056 |
|1791d00b0f614b7e4ef52d497ca416aae592d47dee2d25363800310d4cd6bd12|3055 |
|2c372425fe8a63e8d6a6d841168a490424c15e34177dcbbb6317d3bfb5e81550|3054 |
|598e711366bfa5282fcd3256eff4728f1fe28253d6a65bf1fe1cf9cdbd664534|3051 |
|5b9e1e38487f8570c6ec1f33df8fe20aef8ec38a7a3329edd84614fec3a39be3|3046 |
|d3e657538a5cac8f6cd0bbee1f06ea9c55af7c6fb5209c95df43f055fa2cf502|3045 |
|1d05a8fd837e17cadc0ae06ab2d3a2d79518e5f9b1ddd1846de6570823ad0861|3040 |
|cd81464d3e9688e5b215c2c6de1ff5811f0823f43c70a2cf64deee6025adb384|3039 |
|c143a1f443ae0cb351707c15768dfe45e115b44d8637fed0afb11efae9822ac5|3038 |
|8715d9e40dc23a15b2172f530255269249447790349d270dfa6374365056f6a0|3034 |
|37ea83ebd66889dccf50aece485b02908680862e4950426a66b08676b789219c|3032 |
|f80a8e60a9f15ecf1b85ba3370ff9c2dc0242190d8bbb71fd4f95d0675002ce7|3030 |
|52a4d02b32a463f6a9a417eed62fe9f310afcadc20aee56d719312a1993ace03|3027 |
|f8c7d36b9ca7d5f5e951df0d474f925866f1110ed1f518d6f032690ea9147fe9|3027 |
|82bc011f90f9304dec5c32b21c8170f98015ed6c2eb7ca2a210e5111cad36513|3026 |
|f1a9eb73c5421df85abb7d2a9429788273afa28826a47fc2140ca0d2014533a4|3026 |
|d7d84e1b30f1dcc6356181ab025c035917940b80dff2093baaad9ffefaf674c7|3023 |
|7a406746fdcbd34467dab6726c86e1786450232ea15605f3a02f013add758fdc|3011 |
|9ce4dd2962de5e5cabb80ff42c9518e379e6f283e364b57b8e6e52bd571aa062|3006 |
|5a64e8fe49586fa2d1dfebf765bf85596adb2f5a45a58300772c4538d780d5d5|2973 |
|6107061547c24c174e8074bec857100bca9dfeba2be774150768e68b07809a86|2949 |
|ceda488695f10fa5eed319e3a815a9964d122439f86c9fbb7144977e0166d21f|2949 |
|a23c11928fab57da35804cdd1b38e805a1dd46bd13f42031787b28db605fdf40|2922 |
|4acb44c80b49e7ecd57274f382110da90c6cfaccf761648d6e7c18857c1beeab|2918 |
|cc7500e758457764a54b88a406c327842c1b974d78ab1cc934371074c03cf033|2918 |
|9334549bf3e811f2b7e3b38dde49e45bfadb00dd93414866c9a50731b9977e20|2915 |
|2eb1fd42c708d51567ba3a4e8500b02c1e8c39c9c70d5fb418a70cf5dba01ef0|2619 |
|5dc94baa83081431f1a1b963cc0f8bb73a2b7dac9b1f5fea186cb340e0b7e902|2611 |
|cf5dbf3baaf6645bd2d2cb48bfd108a4ededa0345aa327efe024c0baf218d7f4|2603 |
|7a58a17c17a9b260bb7612f000406cbdaf643191d07f248c814cec71100e0679|2602 |
|bf341222512abb461679789bc4bf3a56308be19549a45147dc6ba85912a9750a|2599 |
|c51b7dbc7448a15c358cf3ccef57296d101871954c07485d511c7b6150827cc5|2597 |
|24598c9d1fd8c771ed76f816b22af5c4cb2160073ef20f0729149ea63883b924|2591 |
|98cffed880d38e297f25fb94d991f602c10c1bd1dc0f124d289e089cf91dee0a|2590 |
|1c57cb53e02f9c791c6cd92834b7f4ea32aee3e4d4867cc66fdd187c4930c557|2588 |
|b60b5389f076a4d3457beaa86afe29f15ab6fe88dd6583873e4b2fe6ddfd7a92|2587 |
|448a2774415e3b326fe6241923d29794047c5eb0ceef8aea227c4faddab7a239|2587 |
|6fc85ad9372d1f0f6f9a451158b25f7b5260e9d0be4de5de8314c28ab5020ba2|2585 |
|b44342105aca0e2ae7d947c353d4bcee6e3c0a17fb8f1ee031f463ae13a19e3b|2585 |
|693e778e2364b987156d8d13d0772ff79354ac255b771dd207b1f2e9f05455c8|2584 |
|47689dd06e95fe3a67962dbec13b2977c7365468313a5ec449b848f887789b5c|2582 |
|6f15d2dd0fc2e8d86dc8e51df467981f87eef62c1a016d7d585dac92659c173b|2578 |
|7d75540d3aebd315440aec2000a95d410fa0798ca7c5c27b5e3293b8fbf02143|2578 |
|9abc4462b4da52a8f6066bc74680f45347e6847ad364f610d2633c96435e01d2|2577 |
|bc27e0f8fab183e83bda031b276d6d0b931254b3620a2d46c2cfad09ca715078|2576 |
|9a34aec9dabef516402603a7994f22e999692aabd2ca2954ab556040cf8ce1a6|2574 |
|00e2ad8fed12b1ef527b71aa5edf6eb494901210121c09b349c1573b7ea4d177|2573 |
|581333f442485f832ca224debe4632bf373666db536af2f3dfa614bea7a49ca9|2572 |
|c0c55fa64cd5bb05b98b75e89149a7491efdfc46635c6a6f001b0bf6e91270b4|2572 |
|1faee21a962ca9e278a97f7274a4570c3fd127f4ecf26c722999e20cd2e58166|2572 |
|c3c71ef99b286182c553629162775b9d0c1631c8f86e3cfc622af27ad1586b29|2570 |
|a942ce6ad9985af09545f2752981da977700c7543bc012a19caba9b2690ae9af|2568 |
|0c68e36a3fd019409b098be5de90b310a51620727533665ff629b0b0963fa279|2566 |
|2d57e03009ec3bee1557eca9dd67f5fad880dedc7e8c60c51d9ed844bfa48b84|2566 |
|b1a55f7fffbd7c1052441742ee98c48f2e224cec94819c9705915c997ecc69d3|2565 |
|67d459ed76bbcc10f8ac48058483782caca7037b5956af395215b40ab1a9bf2f|2564 |
|0700ec170ff470df122b6fd9c571b87200d4258058507a29ac2301681ab7f3d8|2564 |
|d36b6e1a35e4ca215ecc5a293d113e921dc9955e81e6033ce3884f08ccc18602|2564 |
|71958c43ee471361feb8929afca7b653795f420ba2bff4561e9b534130202727|2564 |
|68414cf955dd347e1723fa78bfb4e7add38ec2c0f4972c2584535c5bf40c952e|2562 |
|5b32948aec526b0dd2b9e132857c5df2acd7f114c5eb5d575c19ee9b097df84b|2562 |
|0e606c36680929cacf2d64337fcf13cf9697d55f0090fa6fa8ba6395664df64a|2562 |
|6413c3fd8be147ddb918295ed84bf78d02edbc05f142541169fd632e57794ba0|2562 |
|e12dd38ac295a4e34061d6aa606fe9302235ecbe2af45367df8e2307bde2cd57|2561 |
|d19e4322f28efd713b4672d0cded90fe888bbf0652c08206e81fa43ce64b4974|2559 |
|7326506f1314ff8e5b4203367d0c708e228d09fed350ff4acb42846ee30afa96|2558 |
|5ff16478f9ba6d3b6f0d6de8c8812876c161a0d3bcf47c89ac10c11858af445f|2558 |
|b9107fe659b834e47ad962057778e827d019030db94c9dfcb9244d93e00203b5|2556 |
|4408f5a528d83bea12f91a8f711f38d1adfa0a9472ac03c99876870e33411f5a|2555 |
|df74494ef158a84ed695bf64885b9eac8a7c754c5f0d4d63092c81d47ca7b574|2555 |
|6ee4b8eb63098687ba0cb5675bd22500cef31f1dc859a02274214100a5f27498|2554 |
|4a6d0212272d1470c9d20c7d49085104ffaf0729797d75d52cc25b00f7c99b47|2554 |
|5a0f02791a90c4ebd574b8cab3fbbcb108efbe0d1b2b0d4e63ba2ca64ffe8591|2553 |
+----------------------------------------------------------------+-----+
only showing top 100 rows

Number of unique values in column is_fraud: 2
+--------+-------+
|is_fraud|count  |
+--------+-------+
|0       |1289169|
|1       |7506   |
+--------+-------+

Number of unique values in column merch_eff_time: 1276958
Number of unique values in column merch_last_update_time: 1276942
Number of unique values in column merch_lat: 1247805
Number of unique values in column merch_long: 1275745
Number of unique values in column merch_zipcode: 28337
Number of unique values in column merchant: 693
+-------------------------------------------+-----+
|merchant                                   |count|
+-------------------------------------------+-----+
|fraud_Kilback LLC                          |4403 |
|fraud_Cormier LLC                          |3649 |
|fraud_Schumm PLC                           |3634 |
|fraud_Kuhn LLC                             |3510 |
|fraud_Boyer PLC                            |3493 |
|fraud_Dickinson Ltd                        |3434 |
|fraud_Cummerata-Jones                      |2736 |
|fraud_Kutch LLC                            |2734 |
|fraud_Olson, Becker and Koch               |2723 |
|fraud_Stroman, Hudson and Erdman           |2721 |
|fraud_Rodriguez Group                      |2716 |
|fraud_Erdman-Kertzmann                     |2705 |
|fraud_Jenkins, Hauck and Friesen           |2705 |
|fraud_Kling Inc                            |2687 |
|fraud_Connelly, Reichert and Fritsch       |2684 |
|fraud_Friesen-Stamm                        |2680 |
|fraud_Prohaska-Murray                      |2679 |
|fraud_Huels-Hahn                           |2678 |
|fraud_Berge LLC                            |2677 |
|fraud_Bartoletti-Wunsch                    |2676 |
|fraud_Christiansen, Goyette and Schamberger|2676 |
|fraud_Corwin-Collins                       |2675 |
|fraud_Eichmann, Bogan and Rodriguez        |2658 |
|fraud_Greenholt, Jacobi and Gleason        |2656 |
|fraud_Bins-Rice                            |2655 |
|fraud_Brekke and Sons                      |2653 |
|fraud_Schmitt Inc                          |2651 |
|fraud_Mraz-Herzog                          |2646 |
|fraud_Tillman, Dickinson and Labadie       |2645 |
|fraud_Kuvalis Ltd                          |2643 |
|fraud_Torp-Labadie                         |2642 |
|fraud_Emard Inc                            |2641 |
|fraud_Bernhard Inc                         |2639 |
|fraud_Parisian and Sons                    |2637 |
|fraud_Luettgen PLC                         |2630 |
|fraud_Raynor, Reinger and Hagenes          |2621 |
|fraud_Schaefer, Maggio and Daugherty       |2620 |
|fraud_Ledner-Pfannerstill                  |2619 |
|fraud_Streich, Hansen and Veum             |2617 |
|fraud_Koss and Sons                        |2616 |
|fraud_Kutch, Hermiston and Farrell         |2613 |
|fraud_Conroy-Cruickshank                   |2603 |
|fraud_Cummings LLC                         |2598 |
|fraud_Sporer Inc                           |2593 |
|fraud_Huels-Nolan                          |2593 |
|fraud_Lind, Huel and McClure               |2589 |
|fraud_Schaefer, McGlynn and Bosco          |2579 |
|fraud_Terry Ltd                            |2571 |
|fraud_Hackett-Lueilwitz                    |2568 |
|fraud_O'Reilly, Mohr and Purdy             |2563 |
|fraud_Harris Inc                           |2562 |
|fraud_Zieme, Bode and Dooley               |2560 |
|fraud_Doyle Ltd                            |2558 |
|fraud_Marks Inc                            |2557 |
|fraud_Medhurst Inc                         |2556 |
|fraud_Eichmann-Kilback                     |2554 |
|fraud_Bradtke PLC                          |2552 |
|fraud_Reilly, Heaney and Cole              |2551 |
|fraud_Pacocha-O'Reilly                     |2549 |
|fraud_Denesik, Powlowski and Pouros        |2549 |
|fraud_Goodwin-Nitzsche                     |2542 |
|fraud_Heller-Langosh                       |2541 |
|fraud_Robel, Cummerata and Prosacco        |2536 |
|fraud_Pollich LLC                          |2533 |
|fraud_McDermott-Weimann                    |2524 |
|fraud_Connelly-Carter                      |2523 |
|fraud_Raynor, Feest and Miller             |2521 |
|fraud_O'Connell, Botsford and Hand         |2519 |
|fraud_Schiller, Blanda and Johnson         |2519 |
|fraud_Harber Inc                           |2515 |
|fraud_Casper, Hand and Zulauf              |2514 |
|fraud_Gulgowski LLC                        |2513 |
|fraud_Bauch-Raynor                         |2513 |
|fraud_Schumm, Bauch and Ondricka           |2512 |
|fraud_Murray-Smitham                       |2510 |
|fraud_Friesen-D'Amore                      |2507 |
|fraud_Osinski, Ledner and Leuschke         |2507 |
|fraud_White and Sons                       |2506 |
|fraud_Lockman, West and Runte              |2505 |
|fraud_Heller, Gutmann and Zieme            |2503 |
|fraud_Altenwerth-Kilback                   |2503 |
|fraud_Gislason Group                       |2503 |
|fraud_Quitzon-Goyette                      |2502 |
|fraud_Kutch-Wilderman                      |2501 |
|fraud_Champlin-Casper                      |2499 |
|fraud_Kiehn-Emmerich                       |2497 |
|fraud_McDermott, Osinski and Morar         |2495 |
|fraud_Renner Ltd                           |2495 |
|fraud_Lockman Ltd                          |2492 |
|fraud_DuBuque LLC                          |2491 |
|fraud_Gutmann, McLaughlin and Wiza         |2491 |
|fraud_Rau and Sons                         |2490 |
|fraud_Rutherford-Mertz                     |2489 |
|fraud_Cole PLC                             |2488 |
|fraud_Kling, Howe and Schneider            |2488 |
|fraud_Schamberger-O'Keefe                  |2485 |
|fraud_Deckow-O'Conner                      |2483 |
|fraud_Bahringer, Bergnaum and Quitzon      |2481 |
|fraud_Stark-Koss                           |2479 |
|fraud_Botsford and Sons                    |2477 |
+-------------------------------------------+-----+
only showing top 100 rows

Number of unique values in column trans_date_trans_time: 1274791
Number of unique values in column gender: 2
+------+------+
|gender|count |
+------+------+
|F     |709863|
|M     |586812|
+------+------+

Number of unique values in column lat: 968
+-------+-----+
|lat    |count|
+-------+-----+
|36.385 |3646 |
|26.1184|3613 |
|42.5164|3597 |
|43.0048|3527 |
|44.5995|3123 |
|39.8936|3123 |
|33.2887|3119 |
|34.0326|3117 |
|33.4783|3113 |
|44.3346|3112 |
|41.2419|3110 |
|44.0575|3107 |
|34.2853|3106 |
|41.0001|3105 |
|34.2651|3101 |
|39.1505|3099 |
|41.8467|3095 |
|42.0158|3090 |
|39.5994|3090 |
|48.34  |3088 |
|38.7897|3087 |
|32.5104|3083 |
|38.9462|3082 |
|34.5091|3081 |
|40.6152|3080 |
|38.4121|3077 |
|46.3535|3074 |
|48.2777|3074 |
|36.0244|3072 |
|30.592 |3071 |
|30.4066|3064 |
|41.1558|3061 |
|46.1838|3056 |
|44.232 |3055 |
|42.9147|3054 |
|40.8626|3051 |
|32.153 |3046 |
|38.2911|3045 |
|38.9999|3040 |
|34.4596|3039 |
|32.2779|3039 |
|26.4215|3038 |
|34.3795|3034 |
|39.849 |3032 |
|48.8878|3030 |
|27.4703|3027 |
|46.0062|3027 |
|33.7467|3026 |
|40.0369|3026 |
|33.5623|3023 |
|39.5483|3011 |
|40.6761|3006 |
|48.6031|2973 |
|35.5762|2949 |
|38.4921|2949 |
|41.4802|2922 |
|32.5486|2918 |
|41.3851|2918 |
|41.0646|2915 |
|38.2586|2619 |
|34.1556|2614 |
|35.9866|2611 |
|47.4974|2602 |
|37.7418|2599 |
|42.6911|2597 |
|32.9643|2591 |
|33.6372|2590 |
|30.33  |2588 |
|35.9335|2587 |
|32.8357|2587 |
|35.1836|2585 |
|42.9207|2585 |
|24.6557|2584 |
|40.732 |2582 |
|36.6659|2578 |
|38.0828|2578 |
|40.6729|2577 |
|35.8596|2576 |
|39.7562|2574 |
|45.6675|2573 |
|36.2017|2572 |
|46.1966|2572 |
|29.8826|2572 |
|43.9446|2570 |
|33.9056|2568 |
|40.6747|2566 |
|33.4629|2566 |
|29.5894|2565 |
|39.0298|2564 |
|39.9148|2564 |
|33.4044|2564 |
|37.0581|2564 |
|44.6087|2562 |
|41.606 |2562 |
|31.929 |2562 |
|34.077 |2562 |
|35.6665|2561 |
|43.2326|2559 |
|29.7736|2558 |
|29.3641|2558 |
+-------+-----+
only showing top 100 rows

Number of unique values in column long: 969
+------------------+-----+
|long              |count|
+------------------+-----+
|-98.0727          |3646 |
|-81.7361          |3613 |
|-82.9832          |3597 |
|-108.8964         |3527 |
|-79.7856          |3123 |
|-86.2141          |3123 |
|-111.0985         |3119 |
|-82.2027          |3117 |
|-90.5142          |3113 |
|-73.098           |3112 |
|-81.7453          |3110 |
|-69.9656          |3107 |
|-91.3336          |3106 |
|-78.2357          |3105 |
|-77.867           |3101 |
|-79.503           |3099 |
|-74.1038          |3095 |
|-105.0044         |3090 |
|-73.2913          |3090 |
|-122.3456         |3088 |
|-93.8702          |3087 |
|-86.8138          |3083 |
|-94.9714          |3082 |
|-92.4828          |3081 |
|-74.415           |3080 |
|-75.2811          |3077 |
|-86.6345          |3074 |
|-112.8456         |3074 |
|-90.9288          |3072 |
|-97.2893          |3071 |
|-82.7243          |3068 |
|-91.1468          |3064 |
|-101.136          |3061 |
|-101.2589         |3056 |
|-74.4905          |3055 |
|-83.4845          |3054 |
|-91.9534          |3051 |
|-90.1217          |3046 |
|-92.7059          |3045 |
|-109.615          |3040 |
|-97.2351          |3039 |
|-93.6743          |3039 |
|-99.0025          |3038 |
|-118.523          |3034 |
|-86.272           |3032 |
|-118.2105         |3030 |
|-86.2555          |3027 |
|-81.4872          |3027 |
|-75.0664          |3026 |
|-117.1721         |3026 |
|-112.0559         |3023 |
|-119.7957         |3011 |
|-91.0391          |3006 |
|-93.2977          |2973 |
|-85.4524          |2949 |
|-91.4539          |2949 |
|-86.6919          |2922 |
|-80.307           |2918 |
|-80.1752          |2918 |
|-87.5917          |2915 |
|-78.4074          |2619 |
|-118.2322         |2614 |
|-106.0654         |2611 |
|-122.0107         |2602 |
|-80.4626          |2599 |
|-71.1605          |2597 |
|-96.6012          |2591 |
|-96.6184          |2590 |
|-95.0202          |2588 |
|-84.1481          |2587 |
|-79.8217          |2587 |
|-81.4552          |2585 |
|-91.0685          |2585 |
|-81.3824          |2584 |
|-73.1             |2582 |
|-105.4694         |2578 |
|-76.3477          |2578 |
|-73.5365          |2577 |
|-86.421           |2576 |
|-98.4462          |2574 |
|-93.2433          |2573 |
|-84.5964          |2572 |
|-118.9017         |2572 |
|-81.1286          |2572 |
|-88.0911          |2570 |
|-118.0818         |2568 |
|-74.2239          |2566 |
|-86.7904          |2566 |
|-98.5201          |2565 |
|-86.1938          |2564 |
|-77.0793          |2564 |
|-80.73100000000001|2564 |
|-96.2238          |2564 |
|-84.3033          |2562 |
|-74.9732          |2562 |
|-109.23           |2562 |
|-97.6443          |2562 |
|-97.4798          |2561 |
|-86.2492          |2559 |
|-98.4924          |2558 |
+------------------+-----+
only showing top 100 rows

Number of unique values in column city_pop: 879
+--------+-----+
|city_pop|count|
+--------+-----+
|606     |5496 |
|1595797 |5130 |
|1312922 |5075 |
|1766    |4574 |
|241     |4533 |
|2906700 |4168 |
|276002  |4155 |
|302     |4147 |
|910148  |4073 |
|198     |4067 |
|1126    |4058 |
|2135    |3929 |
|1078    |3646 |
|471     |3641 |
|237282  |3635 |
|1263321 |3629 |
|217     |3615 |
|601723  |3613 |
|134056  |3597 |
|743     |3589 |
|673342  |3584 |
|1228    |3580 |
|269     |3577 |
|3684    |3574 |
|571     |3572 |
|190178  |3560 |
|1970    |3557 |
|1645    |3527 |
|1725    |3526 |
|1526206 |3517 |
|136     |3485 |
|372     |3132 |
|328     |3123 |
|2872    |3119 |
|1523    |3117 |
|2870    |3113 |
|4542    |3112 |
|7646    |3110 |
|186140  |3110 |
|3224    |3107 |

Visualization
- category column
- cc_bic column
- top spender cc_num
- is_fraud percentage
- merchant column
- percentage gender 
- map lat, long for users population
- map merch_lat, merch_long for merchant location
- city_pop and city
- jobs 


- job vs amt 
- lat, long vs fraud
- transaction amount distribution by card number
- merchant location with fraud 
- which merchant has the highest number of fraud?
- which age group always get fraud?
- which city?
- which category has the highest num of fraud?
- which cc_num is always getting fraud
- transaction amount vs merchant ctegory and is_fraud

Done
- convert json to expected tabular form
- convert datetime 
- cast type 
- Clean name column and extract first and last name
- Handle PII data (masking, encyrption etc)

To do:
- analytics (statistics and visualization)